{% extends 'base.html' %}
{% block title %}Music Sharing Platform - Upload File Page{% endblock %}
{% block content %}

<div class="container">
    <h3>Upload your file here</h3>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg">Music File Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="name" placeholder="Enter your Music File Name">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Music File Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="file">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Define Access Type</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="upload_type">
              <option value="public" selected>Public</option>
              <option value="private">Private</option>
              <option value="protected">Protected</option>
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Allowed E-mails for Protected files</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="allowed_emails" placeholder="Enter the E-mails of users who are going to have access to this music file. Make sure to enter each E-mail separated with a comma (,) WITHOUT ANY SPACES BETWEEN COMMA AND EMAILS. For e.g.: xyz@gmail.com,abc147@yahoo.com" rows="14"></textarea>
        </div>
        <button type="submit" class="btn btn-dark btn-lg mt-2">Upload</button>
    </form>
</div>





{% endblock content %}